<cdk-virtual-scroll-viewport itemSize="45" style="height:63vh">
  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let col of columns" scope="col">{{col}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *cdkVirtualFor="let el of data; trackBy: trackByFn">
      <td *ngFor="let f of fields">
        <!-- Identify type and show accordingly -->
        <img *ngIf="f.type === 'image'" [src]="el[f.value]" alt="Item image" height="45">
        <div *ngIf="f.type === 'string'">{{el[f.value]}}</div>
        <div *ngIf="f.type === 'currency'">$ {{el[f.value]}}</div>
      </td>
    </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>
