<div class="container-fluid px-5 pt-3">
  <form [formGroup]="itemFilterForm" (ngSubmit)="onSearchSubmit()" novalidate>
    <div class="row mb-2">
      <div class="col-md-12">
        <label for="keyword">Keyword</label>
        <input type="text" class="form-control  mr-sm-2" id="keyword" name="keyword" formControlName="keyword">
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-2">
        <label for="minPrice">Minimum Price</label>
        <input numeric [decimals]="2" type="number" min="0" class="form-control " id="minPrice" name="minPrice"
               formControlName="minPrice">
      </div>
      <div class="col-md-2">
        <label for="maxPrice">Maximum Price</label>
        <input numeric [decimals]="2" type="number" min="0" class="form-control " id="maxPrice" name="maxPrice"
               formControlName="maxPrice">
      </div>
      <div class="col-md-3">
        <label for="location">Location</label>
        <select class="form-control" name="location" id="location" formControlName="location">
          <option value="" selected>Select a city</option>
          <option *ngFor="let city of cities" [value]="city">{{city}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <div *ngFor="let c of conditions; let idx = index" class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" [id]="c" [name]="c" [value]="c"
                 (change)="onConditionCheckBoxChange($event)">

          <label class="form-check-label" [for]="c">{{ c }}</label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary ">Search</button>
  </form>
</div>
<div class="container-fluid px-5 pt-3">
  <app-data-table [data]="$items | async" [fields]="fields" [columns]="columns"
                  (scroll)="onDataScroll($event)"></app-data-table>
</div>
